* {
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
body{
    background-color: hsl(210, 46%, 95%);
    padding: 2% 7%;
    margin: auto;
}
#container1{
    /* border: 0.5px solid black; */
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;

    /* padding: 2% 7.5%;
    margin: auto; */
}
#container2{
    /* border: 0.5px solid black; */
    max-width: 853px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
}
.box {
    display: inline-block;
    border-radius: 6px;
    width: auto;
    padding: 29px;
    margin: 13px;
    min-height: 265px;
}
#daniel{
    background-color: hsl(263, 55%, 52%);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 82% 0%;
    color: hsl(0, 0%, 100%);
    max-width: 540px;
}
#jona{
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
    width: 260px;
}
#jean{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    width: 260px;
}
#patrick{
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
    max-width: 540px;
}
#kira{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    width: 260px;
}
figure{
    margin: 0px;
}
figcaption{
    padding-left: 12px;
}
.dp{
    /* border: 1px solid hsl(263, 55%, 52%); */
    width: 28px;
    border-radius: 50%;
}
figcaption p{
    margin: 0px;
}
.verified{
    opacity: 0.5;
}
.dp, figcaption{
    display: inline-block;
}
header, article{
    padding-top: 14px;
}
header{
    font-size: 20px;
    font-weight: 600;
}
article{
    opacity: 0.7;
    line-height: 145%;
}
#kira article{
    padding-top: 22px;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin: auto;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}